/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov. 2025, 9:59:12
    Author     : alejandro.huefer
*/

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightblue;
}

header h1{
    margin-bottom: 10px;
}

main{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#asignaturas{
    height: 60vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    list-style: none;
}

li{
    width: 100%;
    height: 60px;
    text-align: center;
    background: lightblue;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 15vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

